---
import ListItem from '../components/ListItem.vue';
const {lang} = Astro.props
import { index } from '../config/UI';
import { getCollection } from 'astro:content';
const selected = await getCollection('selected');
const sorted = selected.filter(e => e.id.includes(`${lang}/`))
import Tags from './Tags.astro';

---
<div class="w-full mt-4 bg-white">
		<h2 class="w-full mb-12 text-2xl font-semibold text-right uppercase md:text-5xl font-lexend page-header"> 
            {index[`selected_${lang}`]}
        </h2>
		<ul class="w-full">
			{sorted.map(e =><li class="px-2 bg-white border-b md:px-4 first:border-t">
				<a href={e.data.link} target="_blank">
					<span class="flex justify-between w-full text-xs md:text-sm">
						 <Tags tags={e.data.name}>
						<p class="pr-4 text-right">{e.data.date}</p>
					</span>
					<ListItem text={e.data.title} client:visible/>
				</a>
			</li>)}
		</ul>
	</div>