---
import Tags from "../Tags.astro";
const { data, id, lang } = Astro.props;
const href = lang === 'en' ? `/en/collaborations/${id}` : `/collaborations/${id}`;
---

<a href={href} class="mb-12 ">
    <Tags tags={data.practice}/>
    <div class="flex mt-1">
  
        <a href={data.link} class="pr-5 underline font-balthazar"><h2 class="normal-case! ">{data.name}</h2></a>
    </div>
    <ul class="ml-5">
        {
            data.projects.map(p => <li class="bullet-point"><p>{p.title}</p></li>)
        }
    </ul>
    <!-- <div class="flex justify-center mb-4 ">
        <div class="flex items-center justify-center overflow-hidden border xl:w-1/2 bg-toxic-green">
            <img
                src={data.thumbnail}
                class="object-contain w-auto h-full"
            />
        </div>
    </div>

    <div class="flex-3 lg:flex-2 md:pl-6">
        <h1 class="text-3xl underline font-balthazar">
            {data.title}
        </h1>
        {data.tags && <Tags tags={data.tags}/>}
        <div class="p-6 min-w-75 lg:min-w-80">
            {data.lead}
        </div>
    </div> -->
</a>