---
const { data, description, id, lang } = Astro.props;
import {marked} from "marked"
const text = marked.parse(description)
const href = lang === 'en' ? `/en/collaborations/${id}` : `/collaborations/${id}`;
---

<a href={href} class="flex flex-col mb-12 md:flex-row xl:px-20">
    <div class="flex justify-center mb-4 ">
        <div class="flex items-center justify-center overflow-hidden border xl:w-1/2 bg-toxic-green">
            <img
                src={data.thumbnail}
                class="object-contain w-auto h-full"
            />
        </div>
    </div>

    <div class="flex-3 lg:flex-2 md:pl-6">
        <p class="md:mb-3">{data.date}</p>
        <h1 class="text-3xl underline font-balthazar">
            {data.title} x {data.collaborators.map(c => c.name)}
        </h1>
        <div class="p-6 min-w-75 lg:min-w-80">
            <Fragment set:html={text}/>
        </div>
    </div>
</a>