---
import Tags from "../Tags.astro";
const { data, id, lang } = Astro.props;
const href = lang === 'en' ? `/en/collaborations/${id}` : `/collaborations/${id}`;
import { getCollection } from 'astro:content';
import { slugify } from '../../utils/slugify';
const projects = await getCollection('projects')
const sorted = projects.filter(p => p.id.includes(lang+"/") && p.data.collab == data.name )
const slugNames = sorted.map(p => slugify(p.id.slice(3)))
---

<a href={href} class="mb-12 ">
    <Tags tags={data.practice}/>
    <div class="flex mt-1">
        <a href={data.link} class="pr-5 underline font-balthazar"><h2 class="normal-case! ">{data.name}</h2></a>
    </div>
    <ul class="ml-5">
        {
            sorted.map((p, i) => <li class="bullet-point"><a href={"/projects/"+ slugNames[i]}>{p.data.title}</a></li>)
        }
    </ul>
</a>