---
import Quit from '../../components/UI/Quit.astro'
const {book} = Astro.props
---
<div class="flex py-4 border-b">
        <a href="/books"><Quit/></a>
        <h1 class="text-3xl font-balthazar">{book.data.title} </h1>
        <p>{book.data.date}</p>
    </div>
   
    <slot />
    <div class="flex flex-col md:flex-row">
        <div class="flex-1">
            <div>
                <img src={book.data.thumbnail}/>
                {book.data.images?.map(i => <img src={i.image}/>)}
            </div>
        </div>
        <div class="flex-1">
            <p class="mb-4 font-bold">{book.data.lead}</p>
            <p>{book.body}</p>
            <ul class="mt-4">
                {book.data.reviews?.map(r => (
                    <li class="mb-2 "> 
                        <a href={r.link} target="_blank">
                            <p>
                                <span class="font-light">{r.date}</span>
                                <span class="font-bold">{r.publishedin}</span>
                                <span class="text-lg underline font-balthazar">{r.title}</span>
                                <span class="text-sm font-light">{r.author}</span>

                            </p>
                        </a>
                    </li>
                ))}
            </ul>
        </div>
    </div>